body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.unselectable {
  user-select: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 10px 0;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin: 0 15px;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 0;
  display: inline-block;
}

.nav-menu li a:hover {
  text-decoration: underline;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

.language-selector-container {
  margin-left: auto;
  padding-left: 15px;
}

@media screen and (max-width: 850px) {
  .navbar-container {
    justify-content: flex-start;
  }

  .menu-icon {
    display: flex;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%; /* Changed from fixed pixel value to 100% */
    left: 0;
    background-color: rgba(40, 44, 52, 0.9);
    padding: 10px 0;
    align-items: flex-start;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-menu li {
    margin: 5px 0;
    width: 100%;
    text-align: ce;
  }

  .nav-menu li a {
    padding: 8px 20px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
  }

  .language-selector-container {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}
